<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>

        <link rel='stylesheet' href='/stylesheets/info.css'>
    </head>
    <body>
        <div>
            <h1><%= data.title %></h1>
            <br>

            <% if(data.type === "Music") { %>
                <span><%= data.artist %></span>
            <% } %>

            <% if(data.type === "Books") { %>
                <span><%= data.author %></span>
            <% } %>

            <% if(data.type === "Movies") { %>
                <span><%= data.genre %></span>
            <% } %>

            <% if(data.type === "Games") { %>
                <span><%= data.publisher %></span>
            <% } %>

            <br>
            <span><%= data.year %></span>
        </div>
    </body>
</html>
