<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>

        <link rel='stylesheet' href='/stylesheets/info.css'>
    </head>
    <body>
        <div class="container">
            <% if(data.type === "music") { %>
                <h1><%= data.title %></h1>
                <br>
                <span id="artist">Artists: <%= data.artist %></span>
                <br>
                <span id="year">Year: <%= data.year %></span>
            <% } %>

            <% if(data.type === "book") { %>
                <h1><%= data.title %></h1>
                <br>
                <span id="author"><%= data.author %></span>
                <br>
                <span id="year"><%= data.year %></span>
            <% } %>

            <% if(data.type === "movie") { %>
                <h1><%= data.title %></h1>
                <br>
                <span id="genre"><%= data.genre %></span>
                <br>
                <span id="year"><%= data.year %></span>
            <% } %>

            <% if(data.type === "game") { %>
                <h1><%= data.title %></h1>
                <br>
                <span id="publisher"><%= data.publisher %></span>
                <br>
                <span id="year"><%= data.year %></span>
            <% } %>
        </div>
    </body>
</html>
